body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #17162f, #00d4ff, yellow, pink, orange);
  color: white;
}
.hero {
    padding: 60px 40px;
    margin: 40px auto;
    max-width: 1000px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    section {
        padding: 40px 20px;
        margin: 20px 10px;
        max-width: 95vw;
    }
}

@media (max-width: 600px) {
    section {
        padding: 20px 5px;
        margin: 10px 5px;
        max-width: 100vw;
    }
}
/* navbar control */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: transparent;
  top: 0 ;

}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 1.5em;
}
/* contact sales button */
.btn{
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.5);
  padding: 7px 8px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  border: none;
}
.hero{
  text-align: center;
  padding: 100px 20px;
  margin: 20px auto; /* Default margin */
  max-width: 1200px; /* Optional: limit navbar width */
  
}
#preview{
height:2%;
width: 7%;
text-align: center;
margin-top: -8%;
border: solid;
border-radius: 1rem;
padding: 5px 20px;
background: rgba(255, 255, 255, 0.1);
border-style: none;
font-weight: bold;
font-size: 80%;


}

#head1{
  font-size: 520%;
  height: auto;
  width:49%;
  text-align: start;
  margin-bottom: unset;
  color: rgba(0, 0, 0, 0.7); /* 0.7 is 70% opacity */
  line-height: 1;
}
#para1{
  margin-top: 2%;
  height: 10%;
  width: 35%;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9); /* 0.9 is 90% opacity */
  text-align: start;
  font-size: 120%;

}
.request{
  margin-top: 5%;
  width: 8pc;
  background-color:#090050;
  padding: 10px 10px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  text-align: center;
}
/* <----logo section-----> */
.container{
  display: grid;
  height: 30%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.item1{
  img{
    height: 35%;
    width: 50%;
      }
     }
.item2{
    margin-top: 13px;
  img{
   height: 30%;
   width: 40%;
       }
     }
.item3{
  img{
    height: 30%;
    width: 40%;
     }
     }
.item4{
  img{
    height: 20%;
    width: 50%;
     }
    }
.item5{
  img{
    height: 40%;
    width: 28%;
     }
    }
.item6{
  img{
    height: 35%;
    width: 50%;
     }
    }
.item7{
  img{
    height: 35%;
    width: 50%;
  }
    }
.item8{
  img{
    height: 60%;
    width: 50%;
  }
   }
