.section2{
    padding: 0px 40px;
    margin: auto;
    max-width: 1000px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .section2 {
        padding: 40px 20px;
        margin: 20px 10px;
        max-width: 95vw;
    }
}

@media (max-width: 600px) {
    .section2 {
        padding: 20px 5px;
        margin: 10px 5px;
        max-width: 100vw;
    }
}

.ms{
 color:#0732f8;  
 font-weight: bold; 
}